body{
    background-image: url(./images/b2.png) ;
    background-size: cover;
    height: 100px;
    width: 100px;
}
div{
    margin-top: 200px;
    margin-left: 200px;
    
}

.a1{
    height: 40px;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    align-content: center !important; 
    border: 1px rgb(91, 91, 91) solid;

}
.a1:hover{
    background-color: transparent;

   
}




@media (max-width: 500px) {
    body {
        background-image: url(./images/B1.jpg) ;

         /* Allow the body height to adjust according to content */
        padding: 20px; /* Add some padding to elements inside the body */
        background-size: 100% auto;
        background-repeat:no-repeat ;
        background-size: 500px 900px;  /* Increase the height to 300 pixels */
        background-color: rgb(247, 244, 239) !important;
    }
    .index1 {
        margin-top: 300px;
        margin-left: -30px; /* Adjust the left margin on smaller screens */
    }

    .f1{
        font-size: 30px;
    }

    .f2{
        font-size: 15px;

    }
    .a1{
        font-size: 12px;
        align-items: center;
    }
}
